* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  margin-top: 8rem;
}

h1 {
  text-align: center;
  margin: 1rem auto;
  text-transform: uppercase;
}

.quotes {
  background: dodgerblue;
  width: 50%;
  margin: 0 auto;
  padding: 1.5rem;
  border-radius: 5px;
}

.text, .author {
  text-align: center;
  color: #fff;
}

.author {
  font-size: 1.3rem;
  margin: 1rem auto;
}

button {
  display: block;
  margin: 0 auto;
  width: 10rem;
  padding: .5rem;
  color: #fff;
  background: green;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
  cursor: pointer;
}